<div class="home clearfix">

  <div class="col-1-3">
    <h2>Team</h2>
    <div>
      <%= image_tag 'https://twimg0-a.akamaihd.net/profile_images/1721433187/new_avatar.png', size: '48x48', alt: 'Andrea Pavoni' %>
      <h3>Andrea Pavoni</h3>
      <p>ruby &amp; rails developer, freelance, *nix lover, teacher</br>
      Rome, Italy · http://andreapavoni.com
      </p>
    </div>

    <div>
      <%= image_tag 'https://twimg0-a.akamaihd.net/profile_images/1929189543/Me_-_1c.jpg', size: '48x48', alt: 'Claudio Floreani' %>
      <h3>Claudio Floreani</h3>
      <p>21st century digital boy. http://segmentation-fault.core-dumped.info/<br/>
    United States of the Internet · http://flavors.me/vjt
      </p>
    </div>

    <div>
      <%= image_tag 'https://twimg0-a.akamaihd.net/profile_images/1578270435/cubavatar.jpg', size: '48x48', alt: 'Marcello Barnaba' %>
      <h3>Marcello Barnaba</h3>
      <p>Gli angeli possono volare perché si prendono alla leggera - G. K. Chesterton, Orthodoxy<br/>
      Milan, Italy · http://about.me/ClaudioFloreani
      </p>
    </div>

    <div>
      <%= image_tag 'https://twimg0-a.akamaihd.net/profile_images/2478768484/525bbtott57l8jo5845j.jpeg', size: '48x48', alt: 'Alessandro Vendruscolo' %>
      <h3>Alessandro Vendruscolo</h3>
      <p>Graphic designer / front-end developer / Apple geek / Computer Science graduate / Chocolate lover / Dreamer //<br/>
      Padova | ITALY · http://avedesign.me
      </p>
    </div>
  </div>

  <div class="col-2-3">
    <h2>48rails challenge</h2>
    <p>
    48 rails  is an event organized by  Programmers in Padua, the developers community of Padova, to participate in the RailsRaumble 2012
    </p>
  </div>

  <div class="col-3-3">
    <a class="twitter-timeline" href="https://twitter.com/GuessTheFriend" data-widget-id="257533143286939648">Tweets by @GuessTheFriend</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>

  <% if !current_user %>
    <div class="signup">
        <%= link_to login_path, id: "sign_in", class: "button blue size-maxi icon-facebook" do %>
          <span class="icon"></span>
          <span class="text">Sign in with Facebook</span>
        <% end %>
    </div>
  <% else %>
    <div class="signup">
        <%= link_to play_path, id: "sign_in", class: "button blue size-maxi" do %>
          <span class="text">Play the game</span>
        <% end %>
    </div>
  <% end %>

</div>

