<div class="home clearfix">

  <div class="grid grid-pad">
    <div class="col-1-2 description">
      <h2>What's this</h2>
      <p>We are ready to make a bet with you.</p>
      <p>We'll show you a random bunch of your facebook friends,</p>
      <p>and we'll give you some hints about one amongst them.</p>
      <p>After every hint we'll allow you to discard those that don't match.</p>
      <p>How many times will you able to guess the misterious friend?</p>
      <p>We bet you'll be surprised to know how many things you don't know about your friends!</p>
    </div>

    <div class="col-2-2 video">
      <iframe src="http://player.vimeo.com/video/1193166?title=1&amp;byline=1&amp;portrait=1" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
    </div>
  </div>

  <% if !current_user %>
    <div class="signup">
      <%= link_to login_path, id: "sign_in", class: "button blue size-maxi icon-facebook" do %>
        <span class="icon"></span>
        <span class="text">Sign in with Facebook</span>
      <% end %>
    </div>
  <% else %>
    <div class="play-game">
      <%= link_to play_path, id: "sign_in", class: "button blue size-maxi" do %>
        <span class="text">Play the game</span>
      <% end %>
    </div>
  <% end %>

  <div class="grid grid-pad">
    <div class="col-1-3 team">
      <h2>Team</h2>
      <div class="clearfix">
        <div class="avatar" style="background-image: url('https://twimg0-a.akamaihd.net/profile_images/1721433187/new_avatar.png');"></div>
        <h3><%= link_to 'Andrea Pavoni', 'http://twitter.com/apeacox' %></h3>
        <span class='role'>backend &amp; frontend development</span>
      </div>

      <div class="clearfix">
        <div class="avatar" style="background-image: url('https://twimg0-a.akamaihd.net/profile_images/1929189543/Me_-_1c.jpg');"></div>
        <h3><%= link_to 'Claudio Floreani', 'http://about.me/ClaudioFloreani' %></h3>
        <span class='role'>product design / development</span>
      </div>

      <div class="clearfix">
        <div class="avatar" style="background-image: url('https://twimg0-a.akamaihd.net/profile_images/1578270435/cubavatar.jpg');"></div>
        <h3><%= link_to 'Marcello Barnaba', 'http://twitter.com/vjt' %></h3>
        <span class='role'>backend &amp; JS development</span>
      </div>

      <div class="clearfix">
        <div class="avatar" style="background-image: url('https://twimg0-a.akamaihd.net/profile_images/2478768484/525bbtott57l8jo5845j.jpeg');"></div>
        <h3><%= link_to 'Alessandro Vendruscolo', 'http://twitter.com/MisterJack' %></h3>
        <span class='role'>frontend development &amp; design</span>
      </div>
    </div>

    <div class="col-2-3 rails48">
      <h3>48rails</h3>
      <p>
      <a href='http://www.48rails.it' >48rails</a> is a 48h hackaton for Ruby on Rails developers
      that took place in Padua on October 13th and 14th.
      </p>
      <p>
      This event aimed to gather the best Ruby on Rails developers, for the first time in Italy, to hack at the <a href='http://railsrumble.com'>RailsRumble</a>, one of the most famous international coding competition in the world.
      </p>
      <p>
      The event is a giveback to the vibrant italian Ruby and Rails community.
      </p>
    </div>

    <div class="col-3-3 leaderbord">
      <h3>Leaderboard</h3>
      <ul>
        <% @players.each do |player| %>
          <li class="clearfix">
            <%= image_tag profile_pic_for(player.uid, player.oauth_token), alt: player.name, size: '48x48' %>
            <span>
              <%= player.name %>,
              <%= player.score %> points.
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

