<div id="game" class="play clearfix"
  data-eliminate-url="<%= eliminate_path %>"
  data-guess-url="<%= guess_path %>"
  data-restart-url="<%= restart_path %>"
  data-abandon-url="<%= abandon_path %>"
  data-reveal-url="<%= reveal_path %>" />

  <% if @game %>
    <%= render 'board' %>
  <% else %>
    <h2 id="stalk" data-url="<%= make_game_path %>" data-target="#game">
      Please be patient while we stalk your friends ... ;-)
    </h2>
    <!-- SPINNER PLEASE! :-D -->
  <% end %>

</div>
