<p id="hint"><%= @game.hints.first %></p>

<input type="button" id="next-hint" value="Next hint" data-url="<%= next_hint_path %>"/>

<% @game.people.each do |friend| %>
  <%= content_tag :div, class: 'friend', id: friend['id'] do -%>
    <%= image_tag friend['pic'], alt: friend['name'] %>
    <span><%= friend['name'] %></span>
  <% end -%>
<% end %>
