<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Guess The Friend!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= add_social :google_analytics %>

  <meta name="title" content="Guess the Friend!" />
  <meta name="description" content="Let's make a bet: we give you some pieces of information from one of your friends, will you be able to identify who we picked in less than 10 clicks?" />

  <meta property="og:site_name" content="Guess the Friend!" />
  <meta property="og:description" content="Let's make a bet: we give you some pieces of information from one of your friends, will you be able to identify who we picked in less than 10 clicks?" />
  <meta property="og:image" content="/assets/logo.png" />
  <meta property="og:title" content="How well do you know your friends?" />
  <meta property="og:type" content="game" />
  <meta property="og:url" content="http://arrr.r12.railsrumble.com/" />
  <meta property="fb:app_id" content="451465298229683" />
</head>
<body>
  <div class="hellobar">
    <span class="rr12">
      <a href="http://railsrumble.com/entries/43-arrr">
        <img src="/assets/logo-railsrumble-small.png" />
        <span>Had fun? Then favorite us for the Rails Rumble 2012!</span>
      </a>
    </span>
    <% if current_user %>
      <div class="user">
        <img src="<%= current_user.profile_pic %>" alt="" />
        <a href="<%= signout_path %>" class="user-sinout"><%= current_user.name %>, signout</a>
      </div>
    <% end %>
  </div>

  <div class="content" role="main">
    <%= add_social :facebook_jssdk %>

    <div class="header">
      <div class="logo-wrapper">
        <a href="/" class="logo ir">Guess the Friend!</a>
        <h1>Can you guess who's the mysterious friend?</h1>
      </div>

      <div class="navigation">
        <div class="facebook-like"><%= add_social :facebook_like %></div>
        <div class="tweet-count"><%= add_social :twitter_button %></div>
        <div class="g-plusone" data-size="medium" data-href="http://arrr.r12.railsrumble.com"></div>
        <%# For the best performance, put this code immediately after the last +1 tag. %>
        <%= add_social :google_plusone %>
      </div>
    </div>

    <%= yield %>

  </div>

  <div class="footer">
    <p>Guess the Friend! was built in less that 48 hours during the <a href="http://railsrumble.com/">2012 edition of Rails Rumble</a>.</p>
    <p>Made by <a href="http://avedesign.me">Alessandro Vendruscolo</a>, <a href="http://andreapavoni.com">Andrea Pavoni</a>, <a href="http://about.me/ClaudioFloreani">Claudio Floreani</a>, <a href="http://sindro.me">Marcello Barnaba</a> with U+2764 and U+1F37A.</p>
    <p>We wish to thank <a href="http://www.48rails.it">48rails</a> for the logistics, the beers, the caffeine and the Kindle Fires :P</p>
  </div>

</body>
</html>
