<!DOCTYPE html>
<html>
<head>
  <title>Guesswho</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= google_analytics %>
</head>
<body>

  <a href="/" class="logo ir">Guess the Friend!</a>

  <div class="social-share">
    <div class="facebook-like">FB Like</div>
    <div class="tweet-count"><%= twitter_button %></div>
    <div class="google-plus-count"><g:plusone></g:plusone></div>
  </div>

  <%= yield %>

    <%# + GOOGLE +1 BUTTON + %>
    <%# For the best performance, put this code immediately after the last +1 tag. %>
    <%= google_plusone %>
    <%# = GOOGLE +1 BUTTON = %>

    <div class="footer">
      <p>Guess the Friend! was built in less that 48 hours during the <a href="http://railsrumble.com/">2012 edition of Rails Rumble</a>.</p>
      <p>Made by <a href="http://avedesign.me">Alessandro Vendruscolo</a>, <a href="http://andreapavoni.com">Andrea Pavoni</a>, <a href="http://about.me/ClaudioFloreani">Claudio Floreani</a>, <a href="http://sindro.me">Marcello Barnaba</a> with U+2764 and U+1F37A.</p>
      <p>We wish to thank <a href="http://www.48rails.it">48rails</a> for the logistics, the beers, the caffeine and the Kindle Fires :P</p>
    </div>
  </body>
</html>
