<!DOCTYPE html>
<html>
<head>
  <title>Guesswho</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= google_analytics %>
</head>
<body>

  <a href="/" class="logo ir">Guess the Friend!</a>

  <div class="social-share">
    <div class="facebook-like">FB Like</div>
    <div class="tweet-count">Tweet count</div>
    <div class="google-plus-count"><g:plusone></g:plusone></div>
  </div>    
    
  <%= yield %>

    <%# + GOOGLE +1 BUTTON + %>
    <%# For the best performance, put this code immediately after the last +1 tag. %>
    <%= google_plusone %>
    <%# = GOOGLE +1 BUTTON = %>

  </body>
</html>
